@font-face {
   font-family: 'Roboto-VariableFont_wdth,wght';
   font-display: swap;
   src: url('file:///C:/Users/TSAFACK%20BRAYAN/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-04-27_013724/fonts/Roboto-VariableFont_wdth,wght/font.ttf');
}
